{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h4 class="page-title">{% if object %}Edit{% else %}Add{% endif %} Record</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{% if object %}Updating existing{% else %}New{% endif %} entry</div>
                </div>
                <div class="card-body">
                    <form action="" method="post">{% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="card-action">
                            <button class="btn btn-success" type="submit">Submit</button>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}